<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Screen Pop Demo</title>
  <style>
    .card {
      border-style: solid;
      border-color: #494F57;
    }
  </style>
</head>


<body>
  <div id="app">
    <h3>Events</h3>
    <div v-if="!ready">Calling APIs ..</div>
    <div v-if="!events.length && ready">Waiting for Call Event ..</div>
    <div v-for="event of events">
      <div class="card">
        <div class="card-header">
          <h3>{{ event.name }}, Last call: {{event.lastCall}}</h5>
        </div>
        <div class="card-body">
          <p>Phone: {{ event.number }}</p>
          <p>Notes: {{ event.notes }}</p>
        </div>
      </div>
    </div>
  </div>

  <script src="demo_lib.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    new Vue({
      el: "#app",
      data() {
        return {
          ready: false,
          token: "",
          lines: "",
          session: "",
          subscription: "",
          events: [],
          oauth: new OAuth({
            // Add Client Info
            clientId: "<YOUR_CLIENT_HERE>",
          })
        }
      },
      mounted: function () {
        this.start() //method will execute at pageload
      },
      methods: {
        start: function () {
          this.oauth.getToken().then(token => {
            this.token = token
            this.callApis()
          })
        },
        callApis: async function () {
          this.lines = await this.getLineInfo()
          this.session = await this.createSession()
          this.subscription = await this.subscribe()
          await this.listen()
          this.ready = true;
        },
        lookup: function (number) {
          return {
            name: "John Doe",
            lastCall: "1 Hour ago",
            number: number,
            notes: "VIP, loyal customer"
          }
        },

        getLineInfo: async function () {
          // Get Line Info -> https://developer.goto.com/GoToConnect/#tag/Lines/paths/~1users~1v1~1lines/get
          /*
            Fill in this function
          */
        },

        createSession: async function () {
          // Create Realtime Session -> https://developer.goto.com/GoToConnect/#section/Getting-Started/Step-One:-Creating-a-Session
          /*
            Fill in this function
          */
        },

        subscribe: async function () {
          // Create Subscription -> https://developer.goto.com/GoToConnect/#section/Getting-Started/Step-Three:-Subscribe
          /*
            Fill in this function
          */
        },

        listen: async function () {
          // Listen for events
          /*
            Fill in this function
          */
        }
      }
    })
  </script>
</body>

</html>
