<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Screen Pop Demo</title>
  <style>
    .card {
      border-style: solid;
      border-color: #494F57;
    }
  </style>
</head>


<body>
  <div id="app">
    <h3>Events</h3>
    <div v-if="!ready">Calling APIs ..</div>
    <div v-if="!events.length && ready">Waiting for Call Event ..</div>
    <div v-for="event of events">
      <div class="card">
        <div class="card-header">
          <h3>{{ event.name }}, Last call: {{event.lastCall}}</h5>
        </div>
        <div class="card-body">
          <p>Phone: {{ event.number }}</p>
          <p>Notes: {{ event.notes }}</p>
        </div>
      </div>
    </div>
  </div>

  <script src="demo_lib.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    new Vue({
      el: "#app",
      data() {
        return {
          ready: false,
          token: "",
          subscription: "",
          wsURL: "",
          events: [],
          oauth: new OAuth({
            // Add Client Info 
            clientId: "2dffecf8-70c2-4a08-8139-9fe5624917be",
          })
        }
      },
      mounted: function () {
        this.start() //method will execute at pageload
      },
      methods: {
        start: function () {
          this.oauth.getToken().then(token => {
            this.token = token
            this.callApis()
          })
        },
        callApis: async function () {
          this.wsURL = await this.createWs();
          await this.listen()
          this.ready = true;
        },
        lookup: function (name) {
          return {
            name: name,
            lastCall: "1 Hour ago",
            number: "+18001111111",
            notes: "VIP, loyal customer"
          }
        },

        createWs: async function () {
          const response = await fetch("http://localhost:8000/screen-pop", {
            headers: {
              "Authorization": `Bearer ${this.token}`,
              "content-type": "application/json"
            },
            method: "POST",
          })
          return response.json();
        },

        listen: async function () {
          // Listen for events
          const { websocketUrl } = this.wsURL;
          this.socket = new WebSocket(websocketUrl)
          this.socket.onmessage = (event) => {
            const data = JSON.parse(event.data)
            const caller = data.data.content.state.participants[0]
            if (caller.status.value == "RINGING") {
              const meta = this.lookup(caller.type.name)
              this.events.unshift(meta)
            }
            else {
              console.log("No handler")
            }
          }
        }
      }
    })
  </script>
</body>

</html>
